# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log


# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore local private directories
**/private/*

# Ignore HCL lock, normally should be included
.terraform.lock.hcl

# Ignore python cache
__pychache__
.mypy_cache

# Ignore .env .venv
.env
.venv