/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8e4c9;
    color: #333;
}

/* Container */
.container {
    width: 95%;
    max-width: 1200px;
    max-height: 95%;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: #e4e8c8;
    margin: 15px auto;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(2, 240, 34, 0.329);
    box-sizing: border-box;
}

.container h2 {
    margin: 24px 0;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Inputs */
input[type="email"],
input[type="password"] {
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #e4e8c8;
    color: #000;
    font-size: 14px;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #FFA500;
}

/* Button */
button {
    padding: 12px;
    background-color: #FF8C00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

/* Logout Button */
.logout-button {
    padding: 8px;
    color: #FFA500;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    transition: color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.logout-button:hover {
    color: #fff;
}


/* Navbar Styles */
.navbar {
    background-color: #13874f;
    padding: 10px;
    border-radius: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;/
}

.navbar-item {
    margin: 0;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

.navbar-link:hover {
    color: #FFA500;
}

.navbar-logout {
    margin-left: auto;
    display: flex;
    align-items: center;
}


/* Error Section */
#error-section {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    color: #d3142d;
    background-color: #cc8b93;
    display: none;
}

.error-message-present #error-section {
    display: block;
}

/* Success Section */
#success-section {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    color: #155724;
    background-color: #86c795;
    display: none;
}

.success-message-present #success-section {
    display: block;
}

/* Links */
.register-link,
.login-link {
    display: block;
    width: fit-content;
    margin-top: 20px;
    color: black;
    text-align: left;
    text-decoration: underline;
    font-size: 14px;
    transition: text-decoration-color 0.3s ease;
}

.register-link:hover,
.login-link:hover {
    text-decoration-color: #0056b3;
}

/* Responsive modifications */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        /* Smaller margin for mobile devices */
    }
}