<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root Page</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Linking the CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body class="{% if success_message %}success-message-present{% endif %}">
    <div class="container">
        <h1>Welcome to the Root Page!</h1>
        <p>This is a dynamic page rendered with Jinja2.</p>

        {% if success_message %}
        <div id="success-section">{{ success_message }}</div>
        {% endif %}

    </div>
</body>

</html>