<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medkit</title>
    <link rel="icon" href="../static/img/PT_logo_v1.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar">
                <!-- Hidden checkbox for controlling dropdown visibility -->
                <input type="checkbox" id="navbar-toggle" class="navbar-toggle-checkbox">
                <label for="navbar-toggle" class="navbar-toggle">
                    <span class="navbar-toggle-icon"></span>
                </label>
                <ul class="navbar-menu">
                    <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
                    <li class="navbar-item"><a href="/medkit" class="navbar-link">My Medkit</a></li>
                    <li class="navbar-item"><a href="/about" class="navbar-link">About</a></li>
                    <li class="navbar-item">
                        <form action="/logout" method="post" class="logout-form">
                            <button type="submit" class="navbar-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <h2>My Medkit</h2>
            <!-- Add Medicine Button -->
            <button id="add-medicine-button" onclick="document.getElementById('add-medicine-form').classList.toggle('hidden');">Add
                Medicine</button>

            <!-- Add Medicine Form -->
            <form id="add-medicine-form" action="/add_medicine" method="post" class="hidden">
                <label for="medicine-name">Medicine Name</label>
                <input type="text" id="medicine-name" name="medicine_name" required>

                <label for="medicine-type">Type</label>
                <input type="text" id="medicine-type" name="medicine_type" required>

                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity" required>

                <label for="expiration-date">Expiration Date</label>
                <input type="date" id="expiration-date" name="expiration_date" required>

                <button id="submit-medicine-button"type="submit">Submit</button>
            </form>

            <!-- Placeholder for list of medicines -->
            <div id="medicine-list">
                {% if medicines %}
                <ul>
                    {% for medicine in medicines %}
                    <li class="medicine-item">
                        <input type="checkbox" id="toggle-{{ loop.index }}" class="medicine-toggle">
                        <label for="toggle-{{ loop.index }}" class="medicine-label">
                            <span class="arrow">></span> {{ medicine.medicine_name }}
                        </label>
                        <div class="medicine-details">
                            <p><strong>Type:</strong> {{ medicine.medicine_type }}</p>
                            <p><strong>Quantity:</strong> {{ medicine.quantity }}</p>
                            <p><strong>Expiration Date:</strong> {{ medicine.expiration_date }}</p>
                            <!-- Edit Form -->
                            <form action="/edit_medicine" method="post" class="edit-form">
                                <input type="hidden" name="medicine_id" value="{{ medicine.id }}">
                                <button type="submit" class="edit-button">Edit</button>
                            </form>
                            <!-- Delete Form -->
                            <form action="/delete_medicine" method="post" class="delete-form">
                                <input type="hidden" name="medicine_id" value="{{ medicine.id }}">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Medkit empty.</p>
                {% endif %}
            </div>
        </main>
    </div>
</body>

</html>