<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/styles.css"> <!-- Linking the CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/submit-register" method="post">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="confirm-password" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <div id="error-section"></div> <!-- Error section -->
        <a href="/login" class="login-link">
            Already have an account?<br>
            Sign in here
        </a>
    </div>
</body>

</html>